<div class="content">
  <div fxLayoutGap="18px grid">
    <mat-form-field color="accent" fxFlex="28">
      <mat-label><mat-icon>search</mat-icon></mat-label>
      <input matInput placeholder="Search products" [(ngModel)] = "search" (ngModelChange) = "onSearchChange($event)">
    </mat-form-field>
    <mat-form-field color="accent" fxFlex="18">
      <mat-label>Minimum Price</mat-label>
      <input matInput [(ngModel)] = "minPrice" (ngModelChange) = "onMinPriceChange($event)">
    </mat-form-field>
    <mat-form-field color="accent" fxFlex="18">
      <mat-label>Maximum Price</mat-label>
      <input matInput [(ngModel)] = "maxPrice" (ngModelChange) = "onMaxPriceChange($event)">
    </mat-form-field>
    <!-- Sort -->
    <mat-form-field color="accent" fxFlex="20">
      <mat-label>Sort</mat-label>
      <mat-select [(ngModel)]="sortString" (ngModelChange)="onSortChange($event)">
        <mat-option value="">None</mat-option>
        <mat-option value="Name,ASC">Name A-Z</mat-option>
        <mat-option value="Name,DESC">Name Z-A</mat-option>
        <mat-option value="Price,ASC">Price Min</mat-option>
        <mat-option value="Price,DESC">Price Max</mat-option>
      </mat-select>
    </mat-form-field>
    <!--/ Sort -->
    <button mat-button color="accent" (click)="resetFilters()">Reset</button>
  </div>
  <div>
    <mat-label>Category: {{productService.selectedCategoryName}}</mat-label>
    <button mat-button color="accent" (click)="resetCategory()">Reset</button>
    <mat-checkbox [(ngModel)] = "withDiscount" (ngModelChange) = "onWithDiscountChange($event)">Discount</mat-checkbox>
  </div>
  <!-- Product card -->
  <div fxLayoutGap="18px grid" fxLayout="row wrap">
    <div fxFlex="25" fxFlex.lt-md="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.xs="100" *ngFor="let item of productService.paginatedProducts | async" >
      <mat-card class="mat-elevation-z5" style="text-align: center">
        <!-- <mat-card-header> -->
          <!-- <mat-card-title>{{item.name}}</mat-card-title> -->
        <!-- </mat-card-header> -->
        <!-- <mat-card-header> -->
        <div style="padding-bottom: 15px;">
          <span style="font-weight: bold;">{{item.name}}</span>
        </div>
        <img style="cursor: pointer;" [routerLink]="['/productInfo',item.id]" mat-card-image class="mimg" [src]="environment.imageUrl+item.img">
        <mat-card-content >
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="item.discount>0" mat-button style="text-decoration: line-through" >{{item.price | currency}}</button>
          <button *ngIf="item.discount>0" mat-button  color="accent">{{(item.price-(item.price*item.discount/100)) | currency}}</button>
          <span style=" margin-right: 5px;" *ngIf="!item.discount || item.discount===0" mat-button >{{item.price | currency}}</span>
          <button mat-raised-button color="accent" (click)="addProductToCart(item); addProduct(item)"><mat-icon>add_shopping_cart</mat-icon></button>
          <!-- <button [routerLink]="['/productInfo',item.id]" mat-stroked-button class="details-button" ><mat-icon>format_align_left</mat-icon></button> -->
          <button mat-icon-button>
            <mat-icon *ngIf="authService.currentUser" (click)="editProductForm(item.id)">mode_edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon *ngIf="authService.currentUser && item.deletable" (click)="deleteProduct(item.id)">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <!-- /Product card -->
</div>

<div class="paginator">
  <mat-paginator [pageSizeOptions]="[2,4,6,8,10,12,14]"
                 [pageSize]="8"
                 showFirstLastButtons>
  </mat-paginator>
</div>
