
<div fxLayout="row" fxLayoutAlign="center center">
<div fxFlex="60" fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="70" fxFlex.lg="70">
  <form class="checkout-box">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Checkout</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field color="accent" class="input-width">
              <input matInput [(ngModel)]="firstName" placeholder="First name" name="name">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field color="accent" class="input-width">
              <input matInput [(ngModel)]="lastName" placeholder="Last name" name="surname">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field color="accent" class="input-width">
              <input matInput [(ngModel)]="address" placeholder="Address" name="address">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field color="accent" class="input-width">
              <input matInput [(ngModel)]="city" placeholder="City" name="city">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field color="accent" class="input-width">
              <input matInput [(ngModel)]="email" placeholder="E-mail" name="email">
            </mat-form-field>
          </div>
<!--          <div class="col-md-6 top-padding">-->
<!--                <mat-form-field color="accent" class="input-width" appearance="fill">-->
<!--                    <mat-label>Select delivery date</mat-label>-->
<!--                    <input (dateInput)="onDateChange($event.value)" matInput [matDatepicker]="picker">-->
<!--                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--                    <mat-datepicker #picker></mat-datepicker>-->
<!--                </mat-form-field>-->
<!--            </div>-->
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-radio-group class="margin-left" (change)="onPaymentMethodChange($event.value)">
                    <mat-radio-button value="Paypal"> Paypal </mat-radio-button>
                    <mat-radio-button value="Payoneer"> Payoneer </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button type ="button" class="input-width" mat-raised-button color="accent" (click)="checkout()">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
</div>

