
<!-- Overview table -->
<div class="card-box">
    <mat-card-content>
    <section class="cart-section">
    <div class="container">
      <h2>Overview</h2>
      <div >
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Count</th>
              <th>Price</th>
              <th>Subtotal</th>
              <th>Discount</th>
              <th>Total</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderItems | async">
              <td>{{item.Product.name}}</td>
              <td>{{item.count}}</td>
              <td>{{item.Product.price | currency}}</td>
              <td>{{ (item.count*item.Product.price) | currency }}</td>
              <td>{{(item.Product.discount/100) | percent}}</td>
              <td>{{ (item.count*(item.Product.price-(item.Product.price*(item.Product.discount)/100))) | currency }}</td>
              <td><button [routerLink]="['/productInfo/',item.Product.id]" mat-raised-button color="accent">View</button></td>
            </tr>
          </tbody>
        </table>
        <button style="margin-top: 15px;" mat-button mat-raised-button  (click)="back()"><mat-icon>arrow_back_ios</mat-icon> BACK</button>
      </div>
    </div>
  </section>
  </mat-card-content>
</div>

