.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  /* justify-content: space-between; */
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.mat-icon {
  align-items: center;
}

/* icon badge */
.cart_icon{
  position: relative;
  cursor: pointer;
}
.cart_icon:focus{
  outline: none;
  border: none;
}

.logo {
  display: block;
  margin-left: -10px;
  margin-right: auto;
  width: 50%;
}
