<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button mat-icon-button mat-raised-button style="margin-right: auto;" (click)="back()"><mat-icon>arrow_back</mat-icon></button>

      <button mat-icon-button mat-raised-button  (click)="forward()"><mat-icon>arrow_forward</mat-icon></button>
    </mat-toolbar>
    <!-- sidenav -->
    <mat-nav-list>
<!--      <a mat-list-item href="#" *ngFor="let group of groups | async">{{group.name}}</a>-->
      <mat-accordion class="app-nav-accordion">
        <mat-expansion-panel *ngFor="let group of groupService.groups | async" class="mat-elevation-z3">
          <mat-expansion-panel-header>
            <mat-panel-title>{{group.name}}</mat-panel-title>
            <mat-panel-description>
              <mat-icon style="margin-left: auto;" *ngIf="authService.currentUser" mat-list-item (click)="editGroupForm(group.id)">mode_edit</mat-icon>
              <mat-icon *ngIf="authService.currentUser && group.Categories.length===0" mat-list-item (click)="deleteGroup(group.id)">remove</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <div *ngFor="let category of group.Categories">
              <a mat-list-item (click)="setSelectedCategory(category.id, category.name)">{{category.name}}
                <mat-icon style="margin-left: 15px;" *ngIf="authService.currentUser" (click)="editCategoryForm(category.id)">mode_edit</mat-icon>
                <mat-icon *ngIf="authService.currentUser && category.deletable" (click)="deleteCategory(category.id)">remove</mat-icon>
              </a>
            </div>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
    <!-- /sidenav  -->
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a [routerLink]="'/'"><img class="logo" src="assets/logo.png" style="width: 130px"></a>

      <div class="spacer"></div>

      <!-- admin menu -->
      <button *ngIf="authService.currentUser" mat-raised-button color="primary" [matMenuTriggerFor]="menu" style="margin-right:5px">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <span *ngIf="authService.currentUser" mat-menu-item disabled><mat-icon>sentiment_very_satisfied</mat-icon> {{authService.currentUser.fullname}}</span>
        <button *ngIf="authService.currentUser && authService.currentUser.isAdmin" (click)="displayRegister()" mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </button>
        <button *ngIf="authService.currentUser" routerLink="/add-new-product" mat-menu-item >
          <mat-icon>add_circle_outline</mat-icon>
          <span>Add product</span>
        </button>
        <button *ngIf="authService.currentUser" routerLink="/overview" mat-menu-item >
          <mat-icon>edit_calendar</mat-icon>
          <span>Overview</span>
        </button>
        <button *ngIf="authService.currentUser" mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      <!-- /admin menu -->

      <button *ngIf="!authService.currentUser" mat-raised-button style="margin-right:5px" color="primary" (click)="displayLogin()"><mat-icon>login</mat-icon></button>
      <a routerLink="/cart" mat-raised-button color="accent" matBadge="{{cartItem}}" matBadgePosition="after" matBadgeColor="primary">
      <mat-icon>shopping_cart</mat-icon></a>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
