<mat-dialog-content>
<mat-card class="mat-elevation-z15">
  <mat-card-title style="text-align:center; padding-bottom: 25px;">Login</mat-card-title>
    <mat-card-content>
      <form action="">
        <mat-form-field color="accent">
          <input matInput placeholder="Username"required name="username" ngModel  #username="ngModel">
          <mat-error *ngIf="username.invalid">Username is required</mat-error>
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>
        <mat-form-field color="accent">
          <input matInput placeholder="Password" type="password" required minlength="6" name="password" ngModel #password="ngModel">
          <mat-error *ngIf="password.errors && password.errors.required">Password is required</mat-error>
          <mat-error *ngIf="password.errors && password.errors.minlength">Password must be of length 6</mat-error>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="message">{{message}}</mat-error>
        <button mat-raised-button color="primary" class="login-button" (click)="login({username:username.value,password:password.value})"> Login</button>
      </form>
    </mat-card-content>
</mat-card>
</mat-dialog-content>
