<div class="card-box" fxLayoutGap="16px grid" fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let product of orderService.topProducts | async;let i=index">
    <mat-card>
      <h4 *ngIf="i+1===1">The Best Selling Product:</h4>
      <h4 *ngIf="i+1!==1 && i+1%10===1 && i+1!==11">The {{i+1}}st Best Selling Product:</h4>
      <h4 *ngIf="i+1%10===2 && i+1!==12">The {{i+1}}nd Best Selling Product:</h4>
      <h4 *ngIf="i+1%10===3 && i+1!==13">The {{i+1}}rd Best Selling Product:</h4>
      <h4 *ngIf="(i+1%100>=11 && i+1%100<=19) || (i+1%10!==3 && i+1%10!==2 && i+1%10!==1)">The {{i+1}}th Best Selling Product:</h4>
      <h3 style="font-weight: bold" >{{product.name}}</h3>
    </mat-card>
  </div>
  <div>
      <mat-card>
        <h4>Total Order Value:</h4>
        <h3 style="font-weight: bold" *ngIf="orderService.totalOrderValue | async as totalOrderValue">{{ totalOrderValue.value | currency}}</h3>
      </mat-card>
  </div>
</div>
<!-- Overview table -->
<div class="card-box" fxLayoutGap="18px grid">
    <section class="cart-section">
    <div class="container">
      <h2>
        <mat-form-field color="accent" fxFlex="30" style="margin-right:25px">
          <mat-label><mat-icon>search</mat-icon></mat-label>
          <input matInput placeholder="Search products" [(ngModel)]="search" (ngModelChange)="onSearchChange($event)">
        </mat-form-field>
        <mat-form-field color="accent" class="input-width" fxFlex="25" style="margin-right:25px">
          <mat-label>From</mat-label>
          <input (dateInput)="onDateFromChange($event.value)" matInput [matDatepicker]="pickerFrom">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field color="accent" class="input-width" fxFlex="25">
          <mat-label>To</mat-label>
          <input (dateInput)="onDateToChange($event.value)" matInput [matDatepicker]="pickerTo">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </h2>
      <div >
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>E-mail</th>
              <th>Address</th>
              <th>City</th>
              <th>Total</th>
              <th>Order Date</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orderService.paginatedOrders | async">
              <td>{{order.firstName+" "+order.lastName}}</td>
              <td>{{order.email}}</td>
              <td>{{order.address}}</td>
              <td>{{order.city}}</td>
              <td>{{order.total | currency}}</td>
              <td>{{stringToDate(order.createdAt).toLocaleDateString('sr')}}</td>
              <td>
                <button [routerLink]="['/details',order.id]" mat-raised-button color="accent"><mat-icon>article</mat-icon></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

<div class="card-box">
  <mat-paginator [pageSizeOptions]="[2,4,6,8,10,12,14]"
                 [pageSize]="8"
                 showFirstLastButtons>
  </mat-paginator>

</div>
