.cart-section {
  padding: 10px;
}

.card-box{
  padding: 18px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 7px;
}

.mat-icon {
  vertical-align: middle;
}
