.header-info{
  background: #202020;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  padding: 0px 2%;
}
.header-info .header-number{
  flex: 1;
  align-items: center;
}
.header-info .header-email{
  flex: 2;
}

